# --- ARCHIVOS DE JAVA (NO SUBIR) ---
*.class
*.log
*.jar
*.war

# --- CARPETAS DE COMPILACIÓN ---
bin/
out/
target/

# --- CONFIGURACIÓN DE VS CODE (ADMIN2) ---
.vscode/
.project
.classpath
.settings/

# --- ARCHIVOS DE SISTEMA ---
.DS_Store
Thumbs.db